@font-face {
    font-family: 'VAGRoundedBT';
    src: url('../fonts/VAGRoundedBT.eot');
    src: url('../fonts/VAGRoundedBT.eot') format('embedded-opentype'),
         url('../fonts/VAGRoundedBT.woff2') format('woff2'),
         url('../fonts/VAGRoundedBT.woff') format('woff'),
         url('../fonts/VAGRoundedBT.ttf') format('truetype'),
         url('../fonts/VAGRoundedBT.svg#VAGRoundedBT') format('svg');
         font-weight: normal;
        font-style: normal;
}



@font-face {
    font-family: 'VAGRoundedStdLight';
    src: url('../fonts/VAGRoundedStdLight.eot');
    src: url('../fonts/VAGRoundedStdLight.eot') format('embedded-opentype'),
         url('../fonts/VAGRoundedStdLight.woff2') format('woff2'),
         url('../fonts/VAGRoundedStdLight.woff') format('woff'),
         url('../fonts/VAGRoundedStdLight.ttf') format('truetype'),
         url('../fonts/VAGRoundedStdLight.svg#VAGRoundedStdLight') format('svg');
         font-weight: 300;
        font-style: normal;
}




@font-face {
    font-family: 'VAGRoundedStdBlack';
    src: url('../fonts/VAGRoundedStdBlack.eot');
    src: url('../fonts/VAGRoundedStdBlack.eot') format('embedded-opentype'),
         url('../fonts/VAGRoundedStdBlack.woff2') format('woff2'),
         url('../fonts/VAGRoundedStdBlack.woff') format('woff'),
         url('../fonts/VAGRoundedStdBlack.ttf') format('truetype'),
         url('../fonts/VAGRoundedStdBlack.svg#VAGRoundedStdBlack') format('svg');
         font-weight: bold;
        font-style: normal;
}

